<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nada's jewellery shop</title>
</head>
<body>
    <center>
    <h1>Nada's jewellery shop</h1>
    <p>Here you can find all type of different 
and unique jewellery from rings to bracelets to necklaces.Free shiping included :) </p>
 <img src='static/pic1.jpg' width='400' height="300"><br>
 <img src='static/pic2.jpeg' width='400' height='300'>
 <div id='cat'>
    <h2>CATEGORIES</h2>
    <ul>
        <a href='/product'> <li>ALL PRODUCT</li> </a>
        <a href='/cart'> <li>CART</li> </a>
        <a href=''> <li>SALES</li> </a>
        <a href=''> <li>RINGS</li> </a>
        <a href=''> <li>BRACELETS</li> </a>
        <a href=''> <li>NECKLACES</li> </a>
    </ul>
</div>
</center>
 
</body>
</html>